
{% extends "layout.html"%}
{%block body%}
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

             <h3>创建权限</h3>
            {{message}}
            <form action="" method="POST">
            <p>权限名称<input type="text" name="title" /></p>
            <p></p>
            <p>权限内容<input type="text" name="content"/></p>
            <p><input type="submit" value="确定添加"></p>


        </form>

        </div>

    </div>




</div>
{%endblock%}
