{%extends "layout.html"%}
{%block body%}

<div class="container">
     <form method="POST"/>
    <div class="row">
        <div class="col-md-4">

             <select name="user_id">
            下拉框选择需要授权的用户
            {%for user in users%}
            <option  value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col-md-4">
        选择给用户的权限
        {%for perm in perms %}
            <li><input type="checkbox" name="perm_id" value="{{perm.id}}">{{perm.title}}</li>
        {% endfor%}
            <input type="submit" value="确定授权">

        </div>
    </div>
{%endblock%}

