{% extends "layout.html" %}
{% block body %}
<div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
              <h3 class="blog-post-title">{{ post.title }}</h3><hr>
              <p class="blog-post-meta">{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
              <p>{{ post.text|safe }}</p>
        </div>
                
      {% if session.logged_in %}
        <div>
          <a href="{{ url_for('delete_entry', id=post.id) }}">Delete</a>
        </div><br>
      {% endif %}

      {% for comment in comments %}
        <div class="panel panel-default">
          <div class="panel-body">
          {{ comment.reply|safe }}
          </div>
        </div>
      {% endfor %}

    <form action="{{ url_for('post', id=post.id) }}" method=post class=comment>
      <dl>
        <dt>Comment:
        <dd><textarea name=reply rows=5 cols=40></textarea>
        <dd><input type=submit value=Comment>
      </dl>
    </form>
    </div>
</div>
{% endblock %}